<mat-toolbar color="primary" class="fixed-top mat-elevation-z4">
  <a routerLink="/home" class="app-title text-decoration-none text-reset">
    Gestión de Usuarios
  </a>
  <span class="spacer"></span>
  <a mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
  <a mat-button routerLink="/perfil" routerLinkActive="active-link">Perfil</a>
  <a mat-button routerLink="/estructuras" routerLinkActive="active-link">Estructuras</a>
  <a mat-button routerLink="/documentacion" routerLinkActive="active-link">Documentación</a>
  <a mat-button routerLink="/usuarios" routerLinkActive="active-link">Usuarios</a>
</mat-toolbar>