.hero-home {
    min-height: 70vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),
      url('../../../assets/imgs/bg-home.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
.code-green { 
    color: #14571a; 
}